In [21]:
# 다음 행렬과 같은 배열이 있다.
# x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

# 이 배열에서 3의 배수를 찾아라.
# 이 배열에서 4로 나누면 1이 남는 수를 찾아라.
# 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.
import numpy as np
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
print(x[x%3==0])
print(x[x%4==1])
print(x[(x%3==0) & (x%4==1)])

[ 3  6  9 12 15 18]
[ 1  5  9 13 17]
[9]

In [32]:
# < 실습 : ExCnTitanic.py >
# 다음 명령으로 타이타닉호 승객 데이터를 데이터프레임으로 읽어온다. 
# 이 명령을 실행하려면 seaborn 패키지가 설치되어 있어야 한다.

# import seaborn as sns 
# titanic = sns.load_dataset("titanic")

# 타이타닉호 승객 데이터의 데이터 값을 각 열마다 구해본다.
import pandas as pd
import seaborn as sns 
titanic = sns.load_dataset("titanic")

titanic['survived'] # ...

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [42]:
# 타이타닉호 승객중 성별(sex) 인원수, 나이별(age) 인원수,
# 선실별(class) 인원수, 사망/생존(alive) 인원수를 구하라.

print(titanic.loc[:,['sex']].value_counts())
print()
print(titanic.loc[:,['age']].value_counts())
print()
print(titanic.loc[:,['class']].value_counts())
print()
print(titanic.loc[:,['alive']].value_counts())

sex
male      577
female    314
dtype: int64

age
24.00    30
22.00    27
18.00    26
30.00    25
28.00    25
         ..
20.50     1
14.50     1
12.00     1
0.92      1
80.00     1
Length: 88, dtype: int64

class
Third     491
First     216
Second    184
dtype: int64

alive
no       549
yes      342
dtype: int64

In [124]:
# # 연습 문제 

# bins = [1, 15, 25, 35, 60, 99] 
# labels = ["미성년자", "청년", "중년", "장년", "노년"]

# 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고 각 그룹에 대해 '미성년자', '청년', '중년', '장년', '노년' 승객의 비율을 구한다. 
# 각 그룹 별로 비율의 전체 합은 1이 되어야 한다.

titanic_y = titanic[titanic.loc[:,'alive'] == 'yes']
titanic_n = titanic[titanic.loc[:,'alive'] == 'no']

bins = [1, 15, 25, 35, 60, 99] 
labels = ["미성년자", "청년", "중년", "장년", "노년"]

ages_y = pd.cut(titanic_y['age'],bins,labels=labels)
ages_n = pd.cut(titanic_n['age'],bins,labels=labels)

ay = ages_y.value_counts(labels)
an = ages_n.value_counts(labels)

print("생존자 그룹 \n",
      "미성년자 : {:3.2f}%".format(ay['미성년자']*100),
      "청년 : {:3.2f}%".format(ay['청년']*100),
      "중년 : {:3.2f}%".format(ay['중년']*100),
      "장년 : {:3.2f}%".format(ay['장년']*100),
      "노년 : {:3.2f}%".format(ay['노년']*100))

print("사망자 그룹 \n",
      "미성년자 : {:3.2f}%".format(an['미성년자']*100),
      "청년 : {:3.2f}%".format(an['청년']*100),
      "중년 : {:3.2f}%".format(an['중년']*100),
      "장년 : {:3.2f}%".format(an['장년']*100),
      "노년 : {:3.2f}%".format(an['노년']*100))

생존자 그룹
 미성년자 : 13.31% 청년 : 26.98% 중년 : 29.86% 장년 : 28.06% 노년 : 1.80%
사망자 그룹
 미성년자 : 7.58% 청년 : 33.89% 중년 : 26.78% 장년 : 27.73% 노년 : 4.03%