In [7]:
nums = [1,2,3,4,5,6]

r_nums = reversed(nums)

print("reversed nums : ",r_nums)

print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))
print(next(r_nums))

reversed nums :  <list_reverseiterator object at 0x00000198BBBCE670>
6
5
4
3
2
1

StopIteration:

# CH5 함수

In [9]:
# 1. 함수만들기 : def 함수명():
#    코드

def print_3_times():
    print("hello")
    print("hello")
    print("hello")
    
# 매개변수가 있는 함수 정의
def print_n_times(value, n):
    for i in range(n):
        print(value)
        
print_n_times('test',3)

test
test
test

In [11]:
# 가변매개변수 : 함수명(매개변수,*가변매개변수명)
def print_n_var_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_var_times(2,'test','hello','python')

test
hello
python

test
hello
python

In [13]:
# 기본매개변수 : 함수명(매개변수, 기본매개변수=값)
def print_n_times(value, n=2):
    for i in range(n):
        print(value)
    print()

print_n_times('test')
print_n_times('test', n = 3)

test
test

test
test
test

In [17]:
# 기본 매개변수와 가변매개변수가 같이 오는 경우 : 가변, 기본 순서
def print_n_times(*values,n=2):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_times('test','hello','python')

test
hello
python

test
hello
python

In [19]:
# 일반 매개변수, 가변 매개변수, 키워드 매개변수(기본) 순서로
def test_func(a, b=10,c=20):
    print(a+b+c)

    
test_func(a=10,b=20,c=30)
test_func(a=10)
test_func(c=100,b=20,a=100)

60
40

In [21]:
def test_func(a, b=10,c=20):
    return(a+b+c)

a = test_func(a=10,b=20,c=30)
b = test_func(100)
print(a,b)

60 130

In [26]:
def test_f():
    global atest
    print(atest)
    func_val = 'func var'

In [27]:
atest = 'test'
test_f()
func_val

test

NameError: name 'func_val' is not defined

In [28]:
# start, stop, step을 이용하여 합을 구하는 함수 작성

def sum_func(start=0, stop=100,step=1):
    total = 0
    for i in range(start,stop+1,step):
        total+=i
    return total

In [30]:
print("0부터 100까지 합을 구함 :", sum_func())
print("0부터 100까지 짝수 합을 구함 :", sum_func(step=2))
print("0부터 100까지 홀수 합을 구함 :", sum_func(start = 1,step=2))
print("0부터 50까지 홀수 합을 구함 :", sum_func(start=1,stop=50,step=2))

0부터 100까지 합을 구함 : 5050
0부터 100까지 짝수 합을 구함 : 2550
0부터 100까지 홀수 합을 구함 : 2500
0부터 50까지 홀수 합을 구함 : 625

In [33]:
# 2. 함수의 활용 : 자기함수 호출: 재귀함수
# factorial 함수 정의
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [37]:
factorial(14)

87178291200

In [45]:
# 피보나치를 구하는 함수 작성
def fibonacci(n):
    global cnt
    cnt +=1
    if n == 1 or n == 2 :
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [142]:
# 메모화 : 메모변수 생성
dic_num = {1:1,2:1}

def fibo_m(n):
    global cnt
    cnt +=1
    if n in dic_num:
        return dic_num[n]
    else:
        output = fibo_m(n-1) + fibo_m(n-2)
        dic_num[n] = output
        return output

In [146]:

cnt = 0
fibo_m(50)
print(cnt)

1

In [150]:
# 3. 함수 고급 : tuple -> (), lambda 함수
(a,b) = (10,20)
print(a)

b, a = a,b
print(a)

10
20

In [151]:
def test():
    return 10, 20
a,b = test()
print(a,b)

10 20

In [154]:
# tuple -> a_tuple = (10,20,30) -> 자료의 수정 불가
for i, value in enumerate([1,2,3,4]):
    print(f"{i}번째의 값 {value}")
    
a_tuple = (10,20,30)
for value in a_tuple:
    print("tuple의 값 : ",value)
# a_tuple[0] = 10   수정 불가

0번째의 값 1
1번째의 값 2
2번째의 값 3
3번째의 값 4
tuple의 값 :  10
tuple의 값 :  20
tuple의 값 :  30

In [158]:
# 람다 = lambda
# 함수의 매개변수로 함수명 전달
def call_10_times(func):
    for i in range(5):
        func()
def print_hello():
    print("hello")
    
call_10_times(print_hello)

hello
hello
hello
hello
hello

In [159]:
def power(item):
    return item * item
def under_3(item):
    return item < 3

In [164]:
# map(함수명, 리스트) -> 리스트의 각각의 값을 함수에 적용
# filter(함수명, 리스트) -> 함수의 리턴값이 True인 자료만 추출
input_list = [1,2,3,4,5]

output = map(power,input_list)
print(list(output))

print(list(filter(under_3, input_list)))

[1, 4, 9, 16, 25]
[1, 2]

In [165]:
# lambda 매개변수 : 리턴 값
power = lambda x: x*x
under_3 = lambda x: x<3

input_list = [1,2,3,4,5]

output = map(power,input_list)
print(list(output))

print(list(filter(under_3, input_list)))

[1, 4, 9, 16, 25]
[1, 2]

In [167]:
# lambda 매개변수 : 리턴 값

input_list = [1,2,3,4,5]

output = map(lambda x: x*x,input_list)
print(list(output))

print(list(filter(lambda x: x<3, input_list)))

[1, 4, 9, 16, 25]
[1, 2]

In [172]:
# 파일 처리 : open() , file.write() , file.close() , file.read()
# 현재 경로에서 새로운 디렉토리 dataset 생성
# dataset 안에 새로운 파일 test.txt 파일을 생성
# test.txt 파일에 'hello python programing'을 작성하고 파일 close()

!mkdir dataset

하위 디렉터리 또는 파일 dataset이(가) 이미 있습니다.

In [200]:
file = open('./dataset/test.txt','w')
file.write('hello python programing')
file.close()

In [208]:
file = open('./dataset/test.txt','r+')
contents = file.read()
print(contents)
file.write('\nhello python programing read ')
file.close()

hello python programing

In [209]:
# file open with 와 같이 사용 -> with 종료시 자동으로 파일 close 됨
with open('./dataset/test.txt','r+') as file:
    contents = file.read()
print(contents)
file.write('test')

hello python programing
hello python programing read

ValueError: I/O operation on closed file.

In [210]:
import os
os.getcwd()               #현재 디렉토리의 전체 full 경로 보여줌

pwd

'C:\\Users\\HPE\\summary'

In [214]:
#제너레이터 함수 작성 : 함수 내부에 yield 키워드를 사용
def gen_test():
    print('first')
    yield 1
    
    print('second')
    yield 2
    
    print('third')
    yield 3
    
o_func = gen_test()
print("main start ")
a = next(o_func)
print(a)
    
print("main 111 start ")
a = next(o_func)
print(a)
    
print("main 222 start ")
a = next(o_func)
print(a)

main start
first
1
main 111 start
second
2
main 222 start
third
3

In [226]:
books = [{"제목":'혼자 공부하는 파이썬',"가격":18000},
        {"제목":'혼자 공부하는 파이썬 222',"가격":26000},
        {"제목":'혼자 공부하는 자바',"가격":24000}]

# 가격이 가장 저렴한 책의 정보 출력
print(min(books, key=lambda book: book['가격']))

# 가격이 가장 비싼 책의 정보 출력
print(max(books, key=lambda book: book['가격']))

{'제목': '혼자 공부하는 파이썬', '가격': 18000}
{'제목': '혼자 공부하는 파이썬 222', '가격': 26000}

In [227]:
def 가격추출함수(book):
    return book['가격']

min(books, key=가격추출함수)

{'제목': '혼자 공부하는 파이썬', '가격': 18000}

In [228]:
books.sort(key=lambda book: book['가격'] )
for book in books:
    print(book)

{'제목': '혼자 공부하는 파이썬', '가격': 18000}
{'제목': '혼자 공부하는 자바', '가격': 24000}
{'제목': '혼자 공부하는 파이썬 222', '가격': 26000}

# CH6 예외 처리

In [251]:
# 실행 오류 : try ~ except ~ else ~ finally
# 실행 오류가 발생할 수 있는 코드 작성
try:
    input_num = int(input("정수 입력 "))
    
    print("원의 반지름: ", input_num)
    print("원의 둘레: ", input_num * 2 * 3.141592)

except:
    print("정수가 입력되지 않음")

정수 입력 ㅁ
정수가 입력되지 않음

In [255]:
# 실행 오류가 발생할 수 있는 코드 작성
# try ~ except -> 기본
# try:
#     예외 발생 코드
# except:
#     예외 발생시 실행 코드
# else:
#     정상 작동시 실행 코드
    
try:
    input_num = int(input("정수 입력 "))
    
except:
    print("정수가 입력되지 않음")

else:
    
    print("원의 반지름: ", input_num)
    print("원의 둘레: ", input_num * 2 * 3.141592)
    
finally:
    print("program end !!")    # 무조건 실행

정수 입력 10
원의 반지름:  10
원의 둘레:  62.83184
program end !!

In [261]:
# file 처리시 예외 처리 응용
try:
    file = open('./dataset/try.txt','w')
    input_data = input("이름 성적 입력: ").split()
    score = int(input_data[1])
    file.write("input_data",str(score))
    
except Exception as e:
    print("입력 자료 검증 :",e)
    
finally:
    print("try end!!")
    file.close()

    
    
# file.write('\nend\n')
file.closed

이름 성적 입력: a a
입력 자료 검증 : invalid literal for int() with base 10: 'a'
try end!!

True

In [262]:
def test_func():
    try:
        print("try 구문 실행 ")
        return
    except :
        print("except 구문 실행")
    else:
        print('else 구문 실행')
    finally:
        print("try end!!")
test_func()

try 구문 실행
try end!!

In [263]:
while True:
    try:
        print("try 구문 실행 ")
        break
    except :
        print("except 구문 실행")
    else:
        print('else 구문 실행')
    finally:
        print("try end!!")

try 구문 실행
try end!!