In [1]:
# 판다스의 자료구조 : 시리즈, 데이터프레임
import pandas as pd

In [8]:
# 시리즈 생성 Series(딕셔너리 또는 리스트, index = [])
sr = pd.Series({'a':1,'b':2,'c':3})
print(sr)

print(type(sr))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
#시리즈의 인덱스, 값
print(sr.index)
print(sr.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [15]:
#시리즈를 접근하는 방법 : sr[index], sr[숫자인덱스]
print(sr['a'],sr[0])
print()
print(sr['a':'c'],sr[0:2],sep='\n')   # 인덱스명으로 접근시 end도 포함('c'), 숫자는 end 미포함(2)

1 1

a    1
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64

In [16]:
# 리스트 또는 튜플을 시리즈로 만들면서 인덱스명 부여
list_data = ['명인','20-06-30','남',True]
sr1 = pd.Series(list_data,index=['이름','생년월일','성별','학생여부'])
print(sr1)

이름            명인
생년월일    20-06-30
성별             남
학생여부        True
dtype: object

In [19]:
sr1[ ['이름','생년월일'] ]

이름            명인
생년월일    20-06-30
dtype: object

In [24]:
print(sr1.dtype)        #시리즈에 저장된 데이터 타입 숫자 ->int64 문자->o(object)
print(type(sr1['이름']))
print(sr.dtype)        
print(type(sr['a']))

object
<class 'str'>
int64
<class 'numpy.int64'>